<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style='background-image: url({{ "img/hero-2.jpg" | absURL }});'>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            เกี่ยวกับ
                        </span>
                        <h2>
                            ประวัติ
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>ภาควิชาวิศวกรรมคอมพิวเตอร์ ได้รับการจัดตั้งเป็นภาควิชาในสังกัดคณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์ ตั้งแต่ปี พ.ศ. 2535 โดยมีนักศึกษารุ่นแรกจำนวน 30 คน จนถึงปัจจุบันรับนักศึกษาระดับปริญญาตรี ทั้งวิทยาเขตหาดใหญ่ และ ภูเก็ต โดยแต่ละวิทยาเขตเปิดรับนักศึกษารุ่นละประมาณ 120 คน และนอกจากมีการเรียนการสอนในหลักสูตรปริญญาตรีแล้ว ภาควิชาฯ ยังเปิดการเรียนการสอนระดับมหาบัณฑิต ในปี พ.ศ. 2544 และปรัชญาดุษฎีบัณฑิตในปี พ.ศ. 2547 อีกด้วย ซึ่งในระดับบัณฑิตศึกษา ปัจจุบันมีนักศึกษาในปีการศึกษา 2552 รวมทั้งหมด 51 คน ในจำนวนนี้มีนักศึกษาต่างชาติรวมทั้งสิ้น 10 คนซึ่งเป็นนักศึกษาในประเภท Research Program หรือทำวิทยานิพนธ์ ทั้งสิ้น</p>
                        <p>2532 เริ่มโครงการจัดตั้งภาควิชาวิศวกรรมคอมพิวเตอร์ โดยเปิดหลักสูตรต่อเนื่อง 2 ปี</p>
                        <p>2532 ได้รับการจัดตั้งเป็นภาควิชาวิศวกรรมคอมพิวเตอร์  โดยเปิดสอบหลักสูตร   ปริญญาตรีสาขาวิศวกรรมคอมพิวเตอร์</p>
                        <p>2544 เปิดสอนหลักสูตรวิศวกรรมศาสตรมหาบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</p>
                        <p>2545 เปิดสอนหลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์ วิทยาเขตภูเก็ต</p>
                        <p>2547 เปิดการเรียนการสอนหลักสูตรปรัชญาดุษฎีบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์</p>
                        <p>2549 วิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์ หลักสูตรปรับปรุง</p>
                        <p>2550 วิศวกรรมศาสตรมหาบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์ หลักสูตรปรับปรุง</p>
                        <p>2553 ปรัชญาดุษฎีบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์ หลักสูตรปรับปรุง</p>
                        <h3 class="mt-5">#</h3>
                        <div class="row">
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <h6>วิสัยทัศน์</h6>
                                    <p>“ผลิตบัณฑิตที่มีความรู้คู่คุณธรรม และผลงานทางวิชาการในสาขาวิศวกรรมคอมพิวเตอร์ที่มีคุณภาพระดับสากล”</p>
                                    
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <h6>พันธกิจ</h6>
                                    <p>ผลิตบัณฑิตที่คิดเป็นทำเป็น มีคุณภาพ จริยธรรม ทั้งในระดับปริญญาตรี และ บัณฑิตศึกษา</p>
                                    <p>ผลิตและเผยแพร่ผลงานทางวิชาการที่มีคุณภาพในระดับสากล</p>
                                    <p>ยกระดับคุณภาพการเรียนการสอน</p>
                                    <p>ส่งเสริมการบริการวิชาการโดยร่วมมือกับหน่วยงานต่างๆ ทั้งในและนอกองค์กร</p>
                                    
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <h6>เป้าประสงค์</h6>
                                    <p>เพื่อเสริมสร้างงานวิจัยในสาขาที่มีศักยภาพไปสู่ความเป็นเลิศ</p>
                                    <p>เพื่อสร้างและถ่ายทอดผลงานวิจัยที่ตอบสนองต่อความต้องการของประเทศ และเชื่อมโยงสู่สากล</p>
                                    <p>เพื่อผลิตบัณฑิตที่มีความรู้ ความสามารถ คิดเป็น ทำเป็น  มีคุณธรรม และจิตสำนึกสาธารณะ
                                    <p>เพื่อบูรณาการองค์ความรู้สู่สังคมและชุมชน</p>
                                    <p>เพื่อบริหารจัดการองค์กรเชิงรุกอย่างมีประสิทธิภาพตามหลักธรรมาภิบาล</p>
                                    <p>เพื่อเสริมสร้างสมรรถนะ และปรับวัฒนธรรมองค์กร สู่องค์กรแห่งการเรียนรู้  โดยมีการจัดการความรู้อย่างเป็นระบบ</p>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->	