<!-- Menu Section -->
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            เครื่องมือและอุปกรณ์
                        </span>
                        <h2>
                            ห้องปฏิบัติการ
                        </h2>
                    </div>  
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-4 menu-wrap">
                        <div class="heading-menu">
                            <h3 class="text-center mb-5">Robotic Laboratory</h3>
                        </div>
                        <div class="menus d-flex align-items-center">
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <p>Computers</p>
                                        <p>Robotic Model Creator</p>
                                        <p>Robotic Mechanism Creator</p>
                                        <p>Robotic Hand</p>
                                        <p>Cycle Counter</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="col-lg-4 menu-wrap">
                        <div class="heading-menu">
                            <h3 class="text-center mb-5">Information Engineering Laboratory</h3>
                        </div>
                        <div class="menus d-flex align-items-center">
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <p>Computer Systems with Network Support</p>
                                        <p>Applications Framework and Applications Programming Interface (API)</p>
                                        <p>Speech Recognition Equipment</p>
                                        <p>Digital Signal Processing (DSP) Development Systems</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-wrap">
                        <div class="heading-menu">
                            <h3 class="text-center mb-5">Image Processing Laboratory</h3>
                        </div>
                        <div class="menus d-flex align-items-center">
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <p>Computers</p>
                                        <p>Color CCD Camera</p>
                                        <p>B/W CCD Camera</p>
                                        <p>Signal Converter</p>
                                        <p>Color Scanner</p>
                                        <p>CT Scanner</p>
                                        <p>Light Meter</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of menu Section -->